@page "/ipo"

<h1>IPO - Calculating Meal Price + Tax</h1>

<p>Enter your meal total: </p>

<input @bind="InputString " />

<button class="btn btn-primary" @onclick="DoProcessing">Calculate your Meal Total!</button>

<p>Your meal total + 20% tip and 6% Tax: @OutputString </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoProcessing()

    {

        double num = double.Parse(InputString);

        num = num + (num * 0.06) + (num * 0.20);

        OutputString = num.ToString();

    }

}