@page "/todo"

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul> 
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new(); // this will save the items entered
    private string newTodo;

    private void AddTodo() // functionality for adding items to the list
    {
        if (!string.IsNullOrWhiteSpace(newTodo)) // if user does not enter something
        {
            todos.Add(new TodoItem { Title = newTodo }); // then add new item
            newTodo = string.Empty; // setting to empty string
        }
    }
}